<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

<a class="btn btn-primary pull-right" [routerLink]="['/add-new-property']">Add new property</a>

<div class="container" *ngIf="propertiesData">
  <h2>Properties</h2>         
  <table class="table">
    <thead>
      <tr>
        <th>Hotel Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let property of propertiesData">
        <td>{{property.hotel_name}}</td>
        <td><a [routerLink]="['/edit-property', property.id]">Edit</a></td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>
