<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

<a [routerLink]="['/add-new-property']">Add new property</a>

<!-- <div class="container" *ngIf="propertiesData">
  <h2>Tenant Table</h2>         
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Sub Domain</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let property of propertiesData">
        <td>{{property.name}}</td>
        <td>{{property.subdomain}}</td>
      </tr>
    </tbody>
  </table>
</div -->>

</body>
</html>
